<div id="header">
    <app-top-menu></app-top-menu>
</div>
<div id="cimszalag">    
    <h1><b>Rólunk:</b></h1>
</div>

<div class="container">
    <div class="left-side">
        <p>Üdvözöllek a GalléryA Művészeti Galériában!</p>            
            <p>
                Galériánk nem csupán egy hely, ahol festményeket lehet megtekinteni, hanem egy igazi művészeti élmény, amelyet az alapítók, Anna és Péter, szenvedélyesen és elkötelezetten hoztak létre. Anna, egy elismert festőművész, és Péter, egy szenvedélyes művészettörténész, együtt álmodtak arról, hogy létrehozzanak egy olyan központot, ahol a művészet és a kultúra találkozik, és ahol mindenki megtalálhatja a számára legmegfelelőbb inspirációt.
            </p>
            <p>
                A GalléryA nem csupán egy hely, ahol a művészek műveiket kiállíthatják, hanem egy olyan közösségi tér is, ahol a művészet szerelmesei találkozhatnak, beszélgethetnek és megoszthatják egymással a gondolataikat és élményeiket. A galéria célja, hogy hozzájáruljon a művészet népszerűsítéséhez és elérhetővé tegye azt mindazok számára, akik keresik az inspirációt és a kreatív kibontakozást.
            </p>
            <p>
                Az általunk kiállított festmények sokszínűek és változatosak, mindig tükrözve a kortárs művészet legújabb irányzatait és trendjeit. Az Anna és Péter által gondosan összeválogatott gyűjteményben megtalálhatóak a hagyományos festészeti stílusoktól kezdve a merész kísérletező művekig mindenféle alkotás. Minden festmény mögött történetek és érzelmek rejlenek, amelyeket a látogatók felfedezhetnek és átélhetnek.
            </p>
            <p>
                A GalléryA különlegessége abban rejlik, hogy nem csupán egy szimpla galéria, hanem egy hely, ahol az emberek találkozhatnak, inspirálódhatnak és fejlődhetnek. Reméljük, hogy galériánkban mindenki megtalálja azt, amit keres, és hogy hozzájárulhatunk a művészet és a kultúra élvezetéhez és terjesztéséhez.
            </p>
            <p>Köszönjük, hogy velünk tartasz ezen az úton, és várunk mindenkit szeretettel a GalléryA Művészeti Galériában!</p>
    </div>
    <div class="right-side">
        <img src="https://artgallery.yale.edu/sites/default/files/styles/max_2600x2600/public/2024-01/2024-Photog-install-ag-doc-2633-0020-pub.jpg?itok=gr_1UmOR"/>
    </div>
</div>

<app-footer>
</app-footer>