<div id="header">
    <app-top-menu></app-top-menu>
</div>
<div id="cimszalag">    
    <h1><b>Kolleckióink</b></h1>
</div>

<div *ngFor="let collection of collections" class="collections">
    <h1>{{collection}}:</h1>
    <hr>
    <!-- <div *ngFor="let innerpainting of paintings" >
        <div *ngIf="collection.indexOf(innerpainting.col_group) !==-1"> -->
            <div class="cardok">
                <mat-grid-list cols="4" >
                    <div *ngFor="let innerpainting of paintings">
                        <div *ngIf="collection.indexOf(innerpainting.col_group) !==-1">
                            <mat-grid-tile>
                                <ng-container>
                                    <mat-card>
                                        <mat-card-content>
                                            <div>
                                                <img mat-card-image src="{{innerpainting.source}}"/>
                                            </div>
                                            <p><b>{{innerpainting.artist_name}}</b></p>
                                            <p><b>Ár: {{innerpainting.price}}Ft</b></p>
                                        </mat-card-content>
                                        <mat-card-actions>
                                            <button mat-raised-button (click)="watchpainting(innerpainting)">Megtekintés</button>
                                        </mat-card-actions>
                                    </mat-card>
                                </ng-container>
                            </mat-grid-tile>
                        </div>
                    </div>
                </mat-grid-list>
            </div>
</div>
    <!-- </div>
    <hr>
</div> -->

<!-- <div *ngFor="let painting of paintings; let i = index">
    <h1>{{painting.col_group}}</h1>
    <ng-container *ngIf="paintings.indexOf(painting) === i">
        <h1>{{painting.name}}</h1>
    </ng-container>
    <hr>
</div> -->

<!-- 
<div class="cardok">
    <mat-grid-list cols="4">
        <mat-grid-tile *ngFor="let painting of paintings">
            <mat-card>
                <mat-card-content>
                    <div>
                        <img mat-card-image src="{{painting.source}}"/>
                    </div>
                    <p><b>{{painting.artist_name}}</b></p>
                    <p><b>Indulóár: {{painting.price}}Ft</b></p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button (click)="watchpainting(painting)">Megtekintés</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div> -->
<app-footer>
</app-footer>