<div id="header">
    <app-top-menu></app-top-menu>
</div>
<div id="cimszalag">    
    <h1><b>Eseményeink</b></h1>
</div>
<div class="container" *ngIf="user_is_artist==1">
    <div class="left-side">
        <h1>Esemény hozzáadása</h1>
            <form [formGroup]="eventForm" (ngSubmit)="onSubmit()" class="login-form">
                <input formControlName="name" type="text" placeholder="Esemény neve" required  />
                <input formControlName="description" type="text" placeholder="Leírás" required/>
                <input formControlName="date" type="date" placeholder="Esemény dátuma" required/>
                <input formControlName="max_attendees" type="number" placeholder="Maximum látógatók száma" required />
                <input formControlName="price" type="number" placeholder="Esemény Ára (Ft)" required />
                <input formControlName="img_source" type="text" placeholder="Illusztráció URL Link" required />
                <div class="buttons">
                    <button type="submit">Feltöltés</button>
                </div>
            </form>
    </div>
    <div class="right-side">
        <div class="cardok">
            <mat-grid-list cols="2">
                <mat-grid-tile *ngFor="let event of publicevents">
                    <mat-card>
                        <mat-card-content>
                            <div>
                                <img mat-card-image src="{{event.img_source}}"/>
                            </div>
                            <p><b>Esemény neve: {{event.name}}</b></p>
                            <p><b>Művész neve: {{event.artist_name}}</b></p>
                            <p><b>Részvételi díj: {{event.price}}Ft</b></p>
                            <p>Dátuma: {{event.date}}</p>
                            <p>Esemény leírása: {{event.description}}</p>
                            <p>Maximum jelentkezők száma:{{event.max_attendees}}</p>  
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-flat-button color="warn" (click)="deleteEvent(event.name)">Törlés</button>
                        </mat-card-actions>
                    </mat-card>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
        <button mat-stroked-button color="warn" (click)="goBack()">Vissza</button>
    </div>
</div>

<div class="public-events" *ngIf="user_is_artist==0 || user_is_artist==2">
    <mat-grid-list cols="3">
        <mat-grid-tile *ngFor="let event of publicevents">
            <mat-card>
                <mat-card-content>
                    <div>
                        <img mat-card-image src="{{event.img_source}}"/>
                    </div>
                    <p><b>Esemény neve: {{event.name}}</b></p>
                    <p><b>Művész neve: {{event.artist_name}}</b></p>
                    <p><b>Részvételi díj: {{event.price}}Ft</b></p>
                    <p>Dátuma: {{ event.date | date: 'yyyy-MM-dd' }}</p>
                    <p>Esemény leírása: {{event.description}}</p>
                    <p>Szabad helyek száma: {{event.max_attendees}}</p>  
                    <!-- <p>Jelentkezők: {{event.attendees}}</p> -->
                    <p *ngIf="event.attendees.indexOf(username)>0">Te már benne vagy</p>
                </mat-card-content>
                <mat-card-actions>
                    <button *ngIf="user_is_artist==0" mat-flat-button color="warn" (click)="navigate('/login')">Jelentkezés</button>
                    <button *ngIf="user_is_artist==2 && !(event.attendees.indexOf(username)>0)" mat-flat-button color="warn" (click)="signmeup(event.name,event.attendees,event.max_attendees)">Jelentkezés</button>
                    <button *ngIf="user_is_artist==2 && event.attendees.indexOf(username)>0" mat-flat-button color="warn" (click)="signmeoff(event.name,event.attendees,event.max_attendees)">Lejelentkezés</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>

<app-footer>
</app-footer>