<div class="headbar">
    <h1 (click)="navigate('/home_page')">Galléry<i>A</i></h1>
    <div class="buttons">
        <div id="login-button">
            <div *ngIf="!authenticated">
                <mat-icon fontIcon="person" (click)="navigate('/login')"></mat-icon>
            </div>
            <div *ngIf="authenticated">
                <mat-icon *ngIf="user_is_artist==1" fontIcon="album" (click)="navigate('/artist-menu')"></mat-icon>
                <mat-icon fontIcon="logout" (click)="logout()" ></mat-icon>
                <mat-icon *ngIf="user_is_artist==2" fontIcon="shopping basket" (click)="navigate('/basket')"></mat-icon>
            </div>
        </div>        
    </div>
    <div class="menus">
        <h2 (click)="navigate('/home-page')">Főoldal</h2>
        <h2 (click)="navigate('/collections')">Kollekciók</h2>
        <h2 (click)="navigate('/events')">Eseményeink</h2>
        <h2 (click)="navigate('/news')">Híreink</h2>
        <h2  (click)="navigate('/about')">Rólunk</h2>
    </div>
</div>
