<div id="header">
    <app-top-menu></app-top-menu>
</div>

<div class="container">
    <div class="left-side">
        <img src="{{selected_painting.source}}"/>
    </div>
    <div class="right-side">
        <h3>{{selected_painting.artist_name}}</h3>
        <h1><b>{{selected_painting.name}}</b></h1>
        <h3>Leírás: {{selected_painting.description}}</h3>
        <h3>Kollekció: {{selected_painting.col_group}}</h3>

        <h4>Készült: {{selected_painting.year}}</h4>
        <h4>{{selected_painting.email}}</h4>
        <h3><b>Ár: {{selected_painting.price}}Ft</b></h3>
        <div class="buttons" *ngIf="user_state==0 || user_state==2">
            <button mat-stroked-button color="primary" *ngIf="user_state==0" (click)="navigate('/login')">Kosárba</button>
            <button mat-stroked-button color="primary" *ngIf="user_state==2 && userbasket.indexOf(selected_painting.name) ==-1" (click)="UpdateBasket(selected_painting.name)">Kosárba</button>
            <button mat-stroked-button color="primary" *ngIf="user_state==2 && userbasket.indexOf(selected_painting.name) !==-1" disabled>Kosárban van</button>
            <button mat-stroked-button color="warn" (click)="goBack()">Vissza</button>
        </div>
        <!-- <button (click)="deletePainting(selected_painting.name)">Törlés</button> -->
    </div>
</div>