#header{
    padding-bottom: 250px;
}
#cimszalag {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding-bottom: 100px;
    font-weight: bold;
    font-size: 42px;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 400px;
    border: 1px solid #000000;
    padding: 20px;
    gap: 10px;
}

.login-form input {
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    outline: none;
}

.login-form .buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.login-form button {
    cursor: pointer;
    border: 1px solid black;
    width: 100%;
    color: rgb(0, 0, 0);
    padding: 10px;
}

.login-form button:hover {
    background-color: rgb(69,69,69);
}

.login-form button[type="button"] {
    background-color: rgb(0, 0, 0);
    border: 1px solid black;
}

.login-form button[type="button"]:hover {
    background-color: rgb(69,69, 69);
}

.login-form button[type="reset"] {
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
}

.login-form button[type="reset"]:hover {
    background-color: rgb(69,69,69);
}

.container {
    display: flex; /* Flex layout */
  }
  
.left-side{
width: 30%; /* Mindkét div 50%-os szélességű legyen */
box-sizing: border-box; /* A padding és a border is hozzá tartozzon a mérethez */
}
.right-side{
    width:70%;
    height: 100%;
}

.news{
    font-size: 20px;
    margin-left:250px;
    margin-right: 250px;
    text-align: justify;
}
.title{
    padding-left:40px;
    margin-bottom: 30px;
    font-size: 25px;
}

.hir{
    margin-bottom: 100px;
}