<div id="header">
    <app-top-menu></app-top-menu>
</div>
<div id="cimszalag">    
    <h1><b>Kosarad tartalma:</b></h1>
    <button mat-flat-button color="primary" *ngIf="paintings.length>0;else nothingInBasket" (click)="sendOrder()">Megrendelés</button>
</div>

<div>
    <mat-grid-list cols="2">
        <mat-grid-tile *ngFor="let painting of paintings">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>{{painting.name}}</mat-card-title>
                    <mat-card-subtitle>{{painting.description}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <img mat-card-image width="80%" src="{{painting.source}}"/>
                    <p><b>Készült({{painting.year}})    Festő: {{painting.artist_name}}</b></p>
                    <p><b>Kollekció neve: {{painting.col_group}}</b></p>
                    <p><b>Ár: {{painting.price}}Ft</b></p>
                    <p>{{painting.email}}</p>
                    <p>{{painting.sold ? 'Eladva' :'Eladó'}}</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-flat-button color="warn" (click)="deleteFromBasket(painting.name)">Törlés</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>

<ng-template #nothingInBasket>
    <p>Nincsen jelenleg semmi a kosaradban.</p>
</ng-template>

<app-footer>
</app-footer>